[Unit]
Description=Prometheus raspi-kvm-exporter service (host and vm metrics exposed for prometheus, written in Go with pluggable metric collectors)
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/raspi-kvm-exporter -exporter.port "9100"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target